# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
*.ipr
*.iws

# Android
android/local.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/key.properties
*.jks

# Generated
pubspec.lock
